* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #212529;
}

.outside-container {
  width: 1000px;
  margin: 64px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  column-gap: 32px;
  row-gap: 16px;
}

h1 {
  margin-top: 32px;
  text-align: center;

  font-size: 44px;
  letter-spacing: -1.2px;
}

.icon {
  margin-left: 2px;
  width: 32px;
  height: 32px;
}

img {
  width: 100%;
  display: block;
}

.inside-image {
  overflow: hidden;
}

.image img {
  transition: all 0.5s ease-in-out;
}

.image:hover img {
  transform: scale(1.1);
}

input,
button,
textarea {
  font-size: inherit;
  font-family: inherit;
}

input:focus,
textarea:focus {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.07);
}

textarea {
  padding: 4px;
}

input {
  width: 40px;
}

textarea {
  resize: none;
}

.add-button,
.close-button {
  background-color: #212529;
  color: #fff;
  padding: 7px 14px;
  display: block;

  border-radius: 14px;
  border: none;
}

.close-button {
  border-radius: 0;
}

.add-button:hover,
.close-button:hover {
  background-color: #343a40;
  cursor: pointer;
}

.add-button:hover {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.07);
}

.add-button:active,
.close-button:active {
  transform: scale(0.98);
}

ul {
  list-style-type: none;
}

li {
  padding: 20px;
  border-bottom: 1px solid #adb5bd;

  display: flex;
  gap: 16px;
}

li:first-child {
  border-top: 1px solid #adb5bd;
}

hr {
  width: auto;
  display: block;
}

.image {
  position: relative;
}

.image:hover .on-image {
  opacity: 0.8;
}

.on-image {
  position: absolute;
  cursor: pointer;
  left: 0;
  bottom: 0;
  background-color: #212529;
  color: #fff;
  font-size: 18px;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;

  height: 80px;
  width: 100%;

  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.average-rating {
  display: flex;
}

.average {
  font-weight: 600;
}

.recommended {
  background: #f3b13f;
  color: #fff;
  font-size: 12px;

  text-transform: uppercase;
  font-weight: 600;

  letter-spacing: 2px;
  border-radius: 16px;

  padding: 7px 15px;

  display: inline-block;

  position: absolute;
  top: -15px;
  right: -75px;

  z-index: 1;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.2s ease-in-out;
  z-index: 3;
}

.rating-container {
  width: 1000px;
  height: 50%;
  text-align: center;
  font-size: 18px;
  background-color: white;

  display: grid;
  grid-template-columns: 3fr 3fr 1fr;
  align-items: start;
  justify-items: center;
}

.close-button {
  justify-self: right;
  align-self: start;
}

.button-center {
  display: flex;
  justify-content: center;
}

.comments {
  height: 80%;
  width: 100%;
  overflow: scroll;
}

.comments-row {
  display: grid;
  justify-items: start;
  grid-template-columns: 1fr;
  gap: 16px;
  margin-top: 48px;
}

.comments-title {
  justify-self: center;
}

.comments-list {
  width: 100%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 0.2s ease-in-out;

  pointer-events: none;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(0, 0, 0, 0.3);
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
  z-index: 2;
}
